@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@300;400;500;700");
@import url("body.css");
@import url("utilities.css");

h1, h2, h3, p, a{
  font-family: Raleway, Helvetica, sans-serif;
  line-height: 150%;
}
a {
  text-decoration: none;
}

.box{
  margin: 16px auto;
  text-align: center;
  padding: 24px 48px;
  border-radius: 16px;
  box-shadow: 0 8px 16px rbga(0,0,0,0.05);
  background-size: cover;
  background-position: center;
}

.head{
  min-height: 450px;
  background:#054A91;
  color: white;
  cursor: url("images/p2.png"), auto;
  /* Johan, are you inspecting my code? */
}

.duolingo{
  min-height: 450px;
  cursor: url("images/p1.png"), auto;
}

.dimsum{
  min-height: 450px;
  cursor: url("images/p2.png"), auto;
}

.aubergine{
  min-height: 450px;
  cursor: url("images/p3.png"), auto;
}

.end{
  background:#054A91;
  color: white;
  max-height: 10em;
  cursor: url("images/man.png"), auto;
}
